-extends "template.haml"
-block title "Mentor"
-block section "mentor"
-block content
  .details
    %h2 Help 1-3 students make the most of their summer.
    %p
      CodeBreak is a semi-virtual program to help students interested in programming make something cool over their
      summer break, and learn more about the tech industry and software development best practices.
    %p
      We're able to help students with general technical questions, however we're looking for mentors to help students
      scope, architect, and manage their projects throughout the three-week program.

    %p
      %strong Dates:
      June 26-July 14

    %p
      %strong How it Works:
      %ol
        %li You will be matched with 1-3 students.
        %li You will have one 90min meeting with this group each week to review project progress.
        %li You should also expect to spend 1 hour each week answering other questions.

    %p
      %strong Online/In-person:
      Mentoring can take place online, however we're actively seeking mentors who can invite nearby students for lunch
      at their office to add to the experience. You can indicate whether you're interested in this in the application.

    %p
      %strong Requirements:
      Mentors must have at least 2 years of full-time employment. You will need to complete a brief online training and
      may need to complete a background check.

  .sidebar
    %img(src="/assets/img/mentor.png")
    %h3 Check Your Calendar
    %ul
      %li 90min meeting on June 26 or 27
      %li 90min meeting on July 3 or 4
      %li 90min meeting on July 10 or 11


  .form#wufoo-qsik0180ji7iwd
    Fill out my <a href="https://srnd.wufoo.com/forms/qsik0180ji7iwd">online form</a>.

  :javascript
    var qsik0180ji7iwd;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'srnd',
    'formHash':'qsik0180ji7iwd',
    'autoResize':true,
    'height':'824',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { qsik0180ji7iwd = new WufooForm();qsik0180ji7iwd.initialize(options);qsik0180ji7iwd.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');
